Makefile
/Makefile.am
Makefile.in
aclocal.m4
config.cache
config.guess
config.h.in
config.log
config.status
config.sub
configure
/configure.in
configure.ac
depcomp
install-sh
missing
mkinstalldirs
stamp-h
dns-server.pot
autom4te.cache
Makefile.am.common
autodocs-cc*
autodocs-ycp.ami
pluglib-bindings.ami
*.ami
test-driver
/test/*.log
/test/*.trs
doc/
coverage/
.yardoc/
*.pot
